Display
[{"id":"668ca310.852c2c","type":"Seeed-Motion","z":"ae2f4f3b.6492a","name":"Motion/3","digitalPin":"7","interval":"500","x":270.90909576416016,"y":234.5454683303833,"wires":[["3dd35d43.6ba402","a98275d2.b376e8"]]},{"id":"22bdf43a.fa631c","type":"Seeed-Buzzer","z":"ae2f4f3b.6492a","name":"Buzzer","pwmPin":"3","tone":"1","x":566.3635711669922,"y":156.3636360168457,"wires":[[]]},{"id":"e2124a34.a57fe8","type":"upm-grove-rgb-lcd","z":"ae2f4f3b.6492a","name":"","platform":"0","r":"2","g":"20","b":"100","row":0,"column":0,"x":785.4545516967773,"y":284.5454406738281,"wires":[]},{"id":"37266247.dc6b2e","type":"inject","z":"ae2f4f3b.6492a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":137.2727279663086,"y":99.99999237060547,"wires":[["668ca310.852c2c"]]},{"id":"3dd35d43.6ba402","type":"UPM-Grove-Relay","z":"ae2f4f3b.6492a","name":"","platform":"0","pin":"2","interval":"100","x":486.36363983154297,"y":79.09090042114258,"wires":[]},{"id":"a98275d2.b376e8","type":"function","z":"ae2f4f3b.6492a","name":"","func":"if (msg.payload === true) {\n    msg.lcdColor =  { r : 255 , g : 255 , b : 0 }\n    msg.payload = \"Tienes visitas\";\n}\nelse {\n    msg.lcdColor =  { r : 255 , g : 255 , b : 255 }\n    msg.payload = \" \";\n}\nreturn msg;","outputs":1,"noerr":0,"x":488.1817970275879,"y":355.454553604126,"wires":[["e2124a34.a57fe8"]]}]
